body {
  background-image: url("../images/upfeathers.png");
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 60px;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #ccc;
  z-index: 100;
}

nav.navbar a.navbar-brand {
  padding: 0px 20px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-section {
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  margin: 60px 0 80px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #666;
  color: #fff;
  padding: 20px 0;
  clear: both;
  border-top: 8px solid #4aaaa5;
  color: #ccc;
  font-size: 12px;
  text-align: center;
} 

.container {
  margin: 0 auto;
  clear: both;
}

h1.underlined {
  border-bottom: 3px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #4aaaa5;
}

img.profile {
  margin-bottom: 20px;
}

div.thumbnail img,
div.thumbnail div.caption {
  width: 90%;
}

div.thumbnail div.caption {
  background: #4aaaa5;
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  font-size: 20px;
  margin-bottom: 10px;
}